.nav-left {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-left li {
  display: inline-block;
}

.nav-right {
  display: flex;
  gap: 10px;
}

.nav-button {
  text-decoration: none;
  color: white;
  padding: 10px;
  background-color: #1f2937;
  border-radius: 5px;
}

.nav-button:hover {
  background-color: #4ade80;
}

/* For small screens */
@media (max-width: 768px) {
  .nav-left, .nav-right {
    flex-direction: column;
  }
}